<div class="footer">
  Avenida Água Verde, 66 • Água Verde, Curitiba • CEP 80620-200 • Telefone (41) 3071 8100
</div>
<%= link_to root_path do %>
  <div class="text-center">
    <%= image_tag('logo.png', width: '200px') %>
  </div>
<% end %>