<h3>Categorias (<%= @categories.count %>)</h3>
<hr>
<ul class="list-group">
  <% @categories.each do |category| %>
    <%= link_to category_id_path(category.id) do %>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <%= category.name %>
        <span class="badge bg-primary rounded-pill"><%= category.vacancies.count %></span>
      </li>
    <% end %>
  <% end %>
</ul>