<div class="col-md-3">
  <div class="text-center">
    <%= image_tag(icon, width: "75px") %>
  </div>
  <div class="text-center">
    <b><%= title %></b>
  </div>
  <div class="text-center">
    <%= subtitle %>
  </div>
</div>