<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag('slide.png', width: "100%", height: "auto", class: "d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        <h1>SOLUÇÕES DE RH PARA EMPRESAS</h1>
        <p>A <%= application_name %> tem mais de 20 anos de experiência em Gestão de Recursos Humanos e terceirização de serviços. Nosso objetivo é aproximar talentos e organizações para gerar resultados e vantagens competitivas aos nossos clientes.</p>
      </div>
    </div>
  </div>
</div>