<div class="icons_home">
  <div class="row">
    <%= render 'icon_home', icon: '1.png', title: 'Recrutamento e Seleção de Pessoal', subtitle: 'Encontramos os talentos ideais para a sua empresa.' %>

    <%= render 'icon_home', icon: '2.png', title: 'Avaliação Comportamental', subtitle: 'Descubra o potencial dos seus profissionais e reduza o índice de rotatividade.' %>

    <%= render 'icon_home', icon: '3.png', title: 'Mão de Obra Temporária', subtitle: 'Agilidade e facilidade na contratação de profissionais para aumentos de demanda.' %>

    <%= render 'icon_home', icon: '4.png', title: 'Processamento da Folha de Pagamento', subtitle: 'Reduza custos operacionais e ganhe mais tecnologia e tempo para se dedicar ao seu negócio.' %>
  </div>
</div>