// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.icons_home {
  margin: 50px 0 50px 0;
}

.footer {
  background-color: #f2f2f2;
  padding: 30px;
  text-align: center;
}

.link_category {
  text-decoration: none;
}
