<h1>Editar Categoria</h1>

<%= render 'form', category: @category %>

<br>
<%= link_to 'Ver', @category, class: "btn btn-primary" %> | <%= link_to 'Voltar', categories_path, class: "btn btn-secondary" %>
